doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title D&D.projects
    body
        .wrapper
            .content
                .taskmanager
                    button.taskmanager__button Добавить тикет
                    ul.taskmanager__list
                        li.taskmanager__item
                            .taskmanager__item-top
                                .taskmanager__item-top-left
                                    label.taskmanager__item-check.custom-check--active
                                        input(type="checkbox")
                                    h2.taskmanager__item-title Поменять красуку в принтере
                                .taskmanager__item-top-right
                                    p.taaskmanager__item-date 10.03.19 08:40
                                    .taskmanager__item-buttons
                                        button.taskmanager__item-edit
                                        button.taskmanager__item-delete
                            .taskmanager__item-bottom
                                p.taskmanager__item-description
                                    | Ваше приложение должно реализовывать следующий функционал:
                                    | Отображение всех тикетов Создание нового тикета
                                    | Удаление тикета Изменение тикета
                                    | Получение подробного описание тикета
                                    | Отметка о выполнении каждого тикета

        .footer
