@import "./utils/libs";
@import ".//global/fonts.scss";
@import "./utils/vars";
@import "./global/global";
@import "./global/animation";

//!Сomponents
@import "../../js/components/task-manager/task-manager.scss";

.content {
	display: flex;
	justify-content: center;
	align-items: center;
}

//!media
@import "./global/media";
